@import url('https://fonts.googleapis.com/css2?family=Anta&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  margin: 1em;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.container {
  display: flex;
  flex-flow: row;
}


